<p id="notice"><%= notice %></p>

<h2>
  <%= @product.title %>
</h2>

<p>
  <%= @product.description %>
</p>

<p>
  <strong>Description:</strong>
  <div class="embed-container"><%= embed (@product.videoclip) %></div>

</p>

<p>
  <strong>Reference:</strong>
  <%= @product.reference %>
</p>

<% if current_user %>
<%= render 'comments/form' %>
<% end %>
<% @product.comments.each do |comment| %>
	<p><%= comment.description %></p>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
